parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: new.static
            path: src/Config/Entity.php
    paths:
        - src
        - tests
    scanFiles:
        - scripts/dev/bitrix-app-minimal.php
        - scripts/dev/bitrix-db-minimal.php
        - scripts/dev/bitrix-phpstan-stubs.php

includes:
    - phpstan-baseline.neon
